[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ignaziogallo/data-mining/blob/aa20-21/tutorials/data/Handling_Duplicates.ipynb)

[source](https://nbviewer.jupyter.org/github/queirozfcom/python-sandbox/blob/master/python3/notebooks/pandas-duplicated/main.ipynb?flush_cache=true)

# Handling Duplicated Data

* A Dataset can contains duplicate rows. 
* The most visible form of duplicate data is a complete **carbon copy** of another record. 
* Duplicate data may exist in a dataset for a number of different reasons. 
  * Sometimes, missing or duplicate data is introduced as we perform cleaning and transformation tasks such as **combining data**, **reindexing data**, and **reshaping data**
  * Other times, it exists in the original dataset for reasons such as **user input error** or data storage or **conversion issues**
  
`We want to Learn how to identify and drop duplicate rows`.

## Show duplicated rows

* To find whether a data-set contain duplicate rows or not we can use Pandas `DataFrame.duplicated()`.

In [15]:
import pandas as pd

import matplotlib
import matplotlib.pyplot as plt

In [28]:
df = pd.DataFrame({
    'title': ['bar','bar','baz','baz','foo','foo'],
    'contents':[
        'Sed mollis tempor accumsan.',
        'Sed mollis tempor accumsan.',
        'Nullam et feugiat turpis, non condimentum dolor.',
        'Aenean eu aliquam nunc.',
        'Lorem ipsum dolor sit amet.',
        'Lorem ipsum dolor sit amet.'
    ],
    'year':[2010,2010,2005,2005,2011,2011]
})

df

  title                                          contents  year
0   bar                       Sed mollis tempor accumsan.  2010
1   bar                       Sed mollis tempor accumsan.  2010
2   baz  Nullam et feugiat turpis, non condimentum dolor.  2005
3   baz                           Aenean eu aliquam nunc.  2005
4   foo                       Lorem ipsum dolor sit amet.  2011
5   foo                       Lorem ipsum dolor sit amet.  2011

## Show duplicates

* Letâ€™s first find how many duplicate rows are in this data-set.

In [29]:
df[df.duplicated()]

  title                     contents  year
1   bar  Sed mollis tempor accumsan.  2010
5   foo  Lorem ipsum dolor sit amet.  2011

## Show including original

* Show duplicated rows including original rows

In [31]:
df[df.duplicated(keep=False)]

  title                     contents  year
0   bar  Sed mollis tempor accumsan.  2010
1   bar  Sed mollis tempor accumsan.  2010
4   foo  Lorem ipsum dolor sit amet.  2011
5   foo  Lorem ipsum dolor sit amet.  2011

## Count

* If we want to know the number of rows that are duplicates of other existing rows.

In [30]:
len(df[df.duplicated()])

2

## Show, some columns only

In [20]:
df[df.duplicated(subset=['title','year'])]

  title                     contents  year
1   bar  Sed mollis tempor accumsan.  2010
3   baz      Aenean eu aliquam nunc.  2005
5   foo  Lorem ipsum dolor sit amet.  2011

## Drop duplicates, keep original

* Use `df.drop_duplicates()`.

* The first row will be kept and the duplicates will be dropped.

In [21]:
df.drop_duplicates()

  title                                          contents  year
0   bar                       Sed mollis tempor accumsan.  2010
2   baz  Nullam et feugiat turpis, non condimentum dolor.  2005
3   baz                           Aenean eu aliquam nunc.  2005
4   foo                       Lorem ipsum dolor sit amet.  2011

## Drop duplicates based on some columns

* Some time we need to use only a subset of columns to define which rows are duplicates (tax code example).

In [22]:
df.drop_duplicates(subset=['title','year'])

  title                                          contents  year
0   bar                       Sed mollis tempor accumsan.  2010
2   baz  Nullam et feugiat turpis, non condimentum dolor.  2005
4   foo                       Lorem ipsum dolor sit amet.  2011